{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <h1 class="login-heading mb-4">MyCalendar App</h1>
                                <h3 class="login-heading mb-4">Passwort zurücksetzen</h3>
                                <p>
                                    Wir haben dir eine Anleitung zum Zurücksetzen deines Passwortes geschickt, wenn ein
                                    Account mit der von dir eingegebenen Mail existiert.
                                    Du solltest sie in Kürze erhalten.
                                </p>
                                <p>
                                    Wenn du keine E-Mail bekommen hast, schau nach ob du die E-Mail angegeben hast, mit
                                    der du registriert bist.
                                    Vergiss nicht in deinen Spam-Ordner nachzuschauen.
                                </p>
                                <a href="{% url 'login' %}"
                                   class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2">Log
                                    In</a>
                                <p style="margin-top: 128px;">
                                    <small>
                                        Photo by <a
                                            href="https://unsplash.com/@nate_dumlao?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Nathan
                                        Dumlao</a> on <a
                                            href="/s/photos/calendar?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}