{% extends 'base.html' %}
{% block content %}

<form method="POST" class="form-signin">{% csrf_token %}
  <h1 class="h3 mb-3 font-weight-normal">Passwort ändern</h1>
    <input name="old_password" class="form-control" placeholder="Altes Passwort" type="password" id="id_old_password" required="true">
    <input name="new_password1" class="form-control" placeholder="Neues Passwort" type="password" id="id_new_password1" required="true">
    <input name="new_password2" class="form-control" placeholder="Bestätige neues Passwort" type="password" id="id_new_password2" required="true">

    {% for field in form %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    {% endfor %}

  <button class="btn btn-lg btn-primary btn-block" type="submit">Ändern</button>  
</form>
{% endblock %}