{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <style>

        td {
            border-style: none;
        }
    </style>
    <div class="container-fluid">
        <div class="row">
            <div id="calendar" class="d-none d-md-flex col-md-4 col-lg-8 p-3"></div>
            <div class="col-md-8 col-lg-4">
                <div class="login d-flex py-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1 class="login-heading mb-4">MyCalendar App</h1>
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" id="mycalendars-tab" data-toggle="tab"
                                           href="#mycalendars"
                                           role="tab" aria-controls="mycalendars" aria-selected="true">Meine
                                            Kalender</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="editcalendar-tab" data-toggle="tab" href="#editcalendar"
                                           role="tab" aria-controls="editcalendar" aria-selected="false">Bearbeiten</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="createcalendar-tab" data-toggle="tab"
                                           href="#createcalendar"
                                           role="tab" aria-controls="createcalendar" aria-selected="false">Erstellen</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="mycalendars" role="tabpanel"
                                         aria-labelledby="mycalendars-tab">...
                                    </div>
                                    <div class="tab-pane fade" id="editcalendar" role="tabpanel"
                                         aria-labelledby="editcalendar-tab">
                                        <form method="post" class="mt-3">{% csrf_token %}
                                            <div class="form-label-group">
                                                {% render_field editform.calendars class="form-control" %}
                                                {{ editform.calendars.errors }}
                                            </div>
                                            <div class="form-label-group">
                                                {% render_field editform.name class="form-control" %}
                                                <label for="id_visible_for">Name:</label>
                                                {{ editform.name.errors }}
                                            </div>
                                            <div class="form-label-group">
                                                {% render_field editform.visible_for class="form-control" %}
                                                <label for="id_visible_for">Sichtbar für:</label>
                                                {{ editform.visible_for.errors }}
                                            </div>
                                            <div class="form-label-group">
                                                {% render_field editform.editable_by class="form-control" %}
                                                <label for="id_editable_by">Bearbeitbar durch:</label>
                                                {{ editform.editable_by.errors }}
                                            </div>
                                            <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                                    type="submit" name="action" value="edit">Änderung speichern
                                            </button>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="createcalendar" role="tabpanel"
                                         aria-labelledby="createcalendar-tab">
                                        <form method="post" class="mt-3">{% csrf_token %}
                                            <div class="form-label-group">
                                                {% render_field createform.name class="form-control" %}
                                                <label for="id_owner">Name des Kalenders</label>
                                                {{ createform.name.errors }}
                                            </div>
                                            <div class="form-label-group">
                                                {% render_field createform.visible_for class="form-control" %}
                                                <label for="id_visible_for">Sichtbar für:</label>
                                                {{ createform.visible_for.errors }}
                                            </div>
                                            <div class="form-label-group">
                                                {% render_field createform.editable_by class="form-control" %}
                                                <label for="id_editable_by">Bearbeitbar durch:</label>
                                                {{ createform.editable_by.errors }}
                                            </div>
                                            <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                                    type="submit" name="action" value="create">Erstellen
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                themeSystem: 'bootstrap',
                locale: 'de',
                firstDay: 1,
                height: '100',
                initialView: 'dayGridMonth'
            });
            calendar.render();
        });

    </script>
{% endblock content %}
